<a href="{{ .Destination | safeURL }}"
   class="glightbox"
   data-gallery="{{ .Page.File.UniqueID }}"
   {{- if and .Title .PlainText -}}
    data-title="{{ .Title }}"
    data-description="{{ .PlainText }}"
   {{- else -}}
    data-title="{{ if .PlainText }}{{ .PlainText }}{{ else }}{{ .Title | default "" }}{{ end }}"
   {{- end -}}
>
    <img src ="{{ .Destination | safeURL }}"
         loading="lazy"
         decoding="async"
         style="border-radius: 5px; max-width: 100%"
         {{- with .Title }} title="{{ . }}"{{ end -}}
         alt="{{ if .PlainText }}{{ .PlainText }}{{ else }}{{ .Title | default "" }}{{ end }}"
    />
</a>
